:root {
  --primary-font: 'Catamaran', sans-serif;
  --secondary-font: 'Cabin', sans-serif;
  --thai-font: 'noto sans thai', sans-serif;
  --main-text-color: #212121;
  --main-white-color: #ffffff;
  --main-disabled-color: var(--grayColor500);
  --light-disabled-color: rgba(0, 0, 0, 0.12);

  --primary-color: var(--primaryColor500);
  --dark-primary-color: var(--primaryColor700);
  --light-primary-color: var(--primaryColor100);
  --secondary-color: var(--secondaryColor500);
  --main-transition: 0.2s ease-in-out;

  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-ml: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
  --font-size-xxl: 42px;
  --font-size-xxxl: 60px;

  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // EXTENDED PRIMARY COLOR PALETTE
  --primaryColor900: #082338;
  --primaryColor800: #0e3a5e;
  --primaryColor700: #02579a;
  --primaryColor600: #1969a9;
  --primaryColor500: #1c75bc;
  --primaryColor400: #49aeff;
  --primaryColor300: #76acd6;
  --primaryColor200: #a4c7e4;
  --primaryColor100: #d4ecff;

  // EXTENDED SECONDARY COLOR PALETTE
  --secondaryColor900: #4b2504;
  --secondaryColor800: #7e3f08;
  --secondaryColor700: #b0580b;
  --secondaryColor600: #e2710e;
  --secondaryColor500: #FF6701;
  --secondaryColor400: #fc973f;
  --secondaryColor300: #fdb16f;
  --secondaryColor200: #fdcb9f;
  --secondaryColor100: #fee5cf;

  // EXTENDED GRAY COLOR PALETTE
  --grayColor900: #313131;
  --grayColor800: #595959;
  --grayColor700: #7A756F;
  --grayColor600: #868686;
  --grayColor500: #a3a1a1;
  --grayColor400: #CFCEC3;
  --grayColor300: #d9d9d9;
  --grayColor200: #EEEDE4;
  --grayColor100: #F8F2EB;


  // AQ Levels Colors
  --aq-green-700: #005108;
  --aq-green-500: #58D32F;
  --aq-green-300: #2A7F0A;
  --aq-green-100: #d2f7d3;

  --aq-yellow-700: #D19500;
  --aq-yellow-500: #FFDA3E;
  --aq-yellow-300: #FFE7B3;
  --aq-yellow-100: #FFF7D4;

  --aq-orange-700: #B74A00;
  --aq-orange-500: #FF9300;
  --aq-orange-300: #ffa466;
  --aq-orange-100: #FFE5D7;

  --aq-red-700: #770E22;
  --aq-red-500: #E1243B;
  --aq-red-300: #ffb3c3;
  --aq-red-100: #FFD9E1;

  --aq-brown-700: #5B1B14;
  --aq-brown-500: #822B22;
  --aq-brown-300: #CE615B;
  --aq-brown-100: #FFE4E3;

  --aq-purple-700: #401172;
  --aq-purple-500: #7C2DC1;
  --aq-purple-300: #BF92EF;
  --aq-purple-100: #EAD7FF;

  --aq-blue-700: #003351;
  --aq-blue-500: #1b75bc;
  --aq-blue-300: #33a9d6;
  --aq-blue-100: #d3e9f9;



  // SYSTEM COLOR PALETTE
  --errorColor: #f24d4d;
  --errorColorLight: #e57373;
  --successColor: #4caf50;
  --warningColor: #f2b74a;
  --infoColor: #25c4fe;

  // SHADOWS
  --shadow-primary: 0px 4px 25px -5px rgba(0, 0, 0, 0.25);
}